<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Spring Security Приложение</title>
</head>
<body>
<p>[[${message} ? ${message} : '']]</p>
<form th:action="@{/registration}" method="post">
    <div><label> Имя пользователя: <input type="text" name="username"/> </label></div>
    <div><label> Пароль: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Добавить пользователя"/></div>
</form>
</body>
</html>
